<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link css file -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_returnProduct.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_UpdateReturnProduct.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_createSale.css' %}">

    
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_createProduct.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_updateProduct.css' %}">
    <link rel="stylesheet"  href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   

    <script src="{% static 'js/modal_for_createProduct.js' %}"></script>
    <script src="{% static 'js/product.js' %}"></script>
<script>
    $(function(){
        
        function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getToken('csrftoken');

    })
    </script>
</head>
<body> 
 
    <!-- navbar -->
   
<div class="navbar">
    <h3>navbar</h3>
</div>
    <!-- container -->
    <div class="container-fluid">
    
            <div class="container__left sidebar">
                <ul>
                    <li>
                        <a href="{% url 'dashboard' %}">
                        Dashoard
                    </a>
                       </li>
                    <li>
                        <a href="{% url 'product' %}">Products</a>
                    </li>
                    <li>
                        <a href="{% url 'return' %}">PurchaseReturn</a>
                    </li>
                    <li>
                        <a href="{% url 'sale' %}">Sales</a>
                    </li>
                    <li>
                        <a href="{% url 'salesReturn' %}">SalesReturn</a>
                    </li>
                    <li>
                        <a href="{% url 'customers'%}">Customers</a>
                    </li>
                </ul>
                </div>
             
                <div class="container__body d-flex" style="width: 100%;">
                    {% block body%}
    
                    {% endblock %}
                    
                </div>
                
    </div>

</body>
</html>