<div class="label_for_CU">
    <p>Create/Update Records</p>
</div>
<form action="{% url 'return__update' %}" method="POST">
    {% csrf_token %}
<div class="form-group">
    <label for="product">Product Name</label>
    <input type="text" name="product"  class="product form-control " id="product" >
    <label for="price" class="price">Price</label>
    <input type="text" name="price"  class="price form-control" id="price">
    <label for="quantity" class="quantity">Quantity</label>
    <input type="text" name="quantity"  class="quantity  form-control" id="quantity">
    <label for="suppliers">suppliers</label>


        <label for="name">Name</label>
        <input type="text" name="supplier"  class="name form-control" id="supplier">
        <label for="address" class="address">Address</label>
        <input type="text" name="address"  class="address form-control " id="address">
        <label for="contact" class="contact">Contact</label>
        <input type="text" name="contact"  class="contact form-control " id="contact">
        <input type="hidden" name="pk" id="pk">
        <div class="update_return_Product">
            <button class="text">Update</button>
        </div>
</div>
</form>
<script>
   
</script>