<div class="label_for_CU">
    <p>Create/Update Records</p>
</div>
<form action="{% url 'create'%}" method="POST" class="form">
    {% csrf_token %}
<div class="form-group">  
    <label for="product">Product Name</label>
    <input type="text" name="product"  class="product form-control " id="product" >
    <label for="price" class="price">Price</label>
    <input type="text" name="price"  class="price form-control" id="price">
    <label for="quantity" class="quantity">Quantity</label>
    <input type="text" name="quantity"  class="quantity  form-control" id="quantity">
    <label for="select_supplier">Suppliers</label>
    <div class="suppliers">
        <select  id="selected_supplier" class="form-control" name="selected_supplier">
            <option value="none" selected='selected'>--select--</option>
            {% for read in suppliers%}
            <option value="{{read.name}}">{{read.name}}</option>
           {% endfor %}
        </select>
          
    </div>
    
      <div class="new_supplier" id="new_supplier">
        <button class="text" id="tag">Add</button>
    </div>
      <div class="new_supplier_items">
        <label for="suppliers">supplier</label>
        <input type="text" name="supplier"  class="name form-control" id="supplier">
        <label for="address" class="address">Address</label>
        <input type="text" name="address"  class="address form-control " id="address">
        <label for="contact" class="contact">Contact</label>
        <input type="text" name="contact"  class="contact form-control " id="contact">
      </div>
        <div class="Create_product">
            <button class="text">Create</button>
        </div>
     
    

</div>
   
</form>

<script>
  $(function(){

   $('.new_supplier_items').hide()
  
   $('#new_supplier').click(function(){
       $('.new_supplier_items').show()
       return false; 
      
   })
 

})

   
</script>