{% extends 'dashboard/main.html'%}
{% block body%}

<table class="table" id="tb">
    <tbody class="table__body">
        <thead class="table__heading">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Supplier
                </th>
                <th>
                    Address
                </th>
                <th>
                    contact 
                </th>
                <th>
                    Edit</th>
                
                <th>Delete</th>
            </tr>
           
        </thead>

        {% for item in items%}
        <tr>

            <td>
                {{item.product.title}}
                 </td>
                 <td>
                    {{item.product.price}}
                     </td>
                     <td>
                        {{item.quantity}}
                         </td>
                         <td>
                            {{item.supplier.name}}
                             </td>
                             <td>
                                 {{item.supplier.address}}
                             </td>
                             <td>
                                 {{item.supplier.contact}}
                             </td>
                             <td>
                                 <a href="#"  class="update_return" data-pk="{{item.pk}}" >
                                    Edit
                                 </a>
                             </td>
                             <td>
                                 <span class="fa fa-arow" data-pk={{item.pk}}>Delete</span>
                             </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
<div  class="container__right" id="container__right">
                    
    {% include 'dashboard/modal_for_CreateReturnProduct.html'%}
               
</div> 
<script>
    $('.update_return').click(function(){
   
        $.ajax({
    url:'/dashboard/product/return/update',
    type:'get',
    data:{'id':$(this).attr('data-pk')},
    dataType:'json',
    success:function(data){
        console.log(data);
        document.getElementById('container__right').innerHTML=data.modal_for_UpdateReturnProduct
        document.getElementById('product').value=data.data.title
        document.getElementById('price').value=data.data.price
        document.getElementById('quantity').value=data.data.quantity
        document.getElementById('supplier').value=data.data.supplier
        document.getElementById('address').value=data.data.address
        document.getElementById('contact').value=data.data.contact    
        document.getElementById('pk').value=data.data.pk   
    }
})
    })
</script>

{% endblock %}
